{% set _header = block('header') is defined ? block('header') : null %}
{% set _body = block('body') %}
{% set _footer = block('footer') is defined ? block('footer') : null %}

<div class="panel panel-{{ type|default('default') }}">
    {% if _header is not empty %}
        <div class="panel-heading">{{ _header|raw }}</div>
    {% endif %}

    {% if _body is not empty %}
        <div class="panel-body">{{ _body|raw }}</div>
    {% endif %}

    {% if _footer is not empty %}
        <div class="panel-footer">{{ _footer|raw }}</div>
    {% endif %}

</div>