{% set use_link = column.callOption('condition', [item]) %}
<td>
    {% if use_link %}
        <a href="{{ column.hasOption('url') ? column.callOption('url', [item]) }}" class="btn btn-link btn-xs">
    {% endif %}
    {% block text %}{{ attribute(item, name) }}{% endblock %}
    {% if use_link %}
        </a>
    {% endif %}
</td>