{% set use_link = column.callOption('condition', [item]) %}
<td class="text-right">
    {% if use_link %}
        <a href="{{ column.callOption('url', [item]) }}">
    {% endif %}
    {% block text %}{{ attribute(item, name)|number_format(0) }}{% endblock %}
    {% if use_link %}
        </a>
    {% endif %}
</td>