{% set use_link = column.callOption('condition', [item]) %}
{% set url_parameters = column.options.parameters %}
<td class="text-right">
    {% if use_link %}
        <a href="{{ path(column.options.route, {id: item.id, type: upload_type}|merge(url_parameters)) }}">
    {% endif %}
    {% block text %}{{ attribute(item, name)|number_format(0) }}{% endblock %}
    {% if use_link %}
        </a>
    {% endif %}
</td>